<% layout("/layouts/boilerplate") %>

    <body>
        <h3>Create New Listing</h3>
        <div class="row">
            <div class="col-8 offset-2">
                <form action="/listings" method="POST" novalidate class="needs-validation" enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="title" class="form-label">Title</label>
                        <input type="text" name="listing[title]" placeholder="Enter Title" class="form-control" required>
                        <div class="valid-feedback">Title looks good</div>
                        <div class="invalid-feedback">Please enter a title</div>
                    </div>

                    <div class="mb-3">
                        <label for="description" class="form-label">Description</label>
                        <textarea name="listing[description]" placeholder="Enter Description" class="form-control" required></textarea>
                    </div>

                    <div class="mb-3">
                        <label for="image" class="form-label">Image</label>
                        <input type="file" name="listing[image]" class="form-control">
                    </div>

                    <div class="mb-3">
                        <label for="price" class="form-label">Price</label>
                        <input type="number" name="listing[price]" placeholder="Enter price" class="form-control" required>
                        <div class="invalid-feedback">Please enter a valid price.</div>
                    </div>

                    <div class="mb-3">
                        <label for="location" class="form-label">Location</label>
                        <input type="text" name="listing[location]" placeholder="Enter location" class="form-control" required>
                    </div>

                    <div class="mb-3">
                        <label for="country" class="form-label">Country</label>
                        <input type="text" name="listing[country]" placeholder="Enter country" class="form-control" required>
                    </div>

                    <button type="submit" class="new-listing-btn">Create listing</button>
                </form>
            </div>
        </div>


    </body>
